<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web_Design</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
</head>


<header class="fixed-top p-auto">
    <div class="container">
        <nav class="navbar navbar-expand p-0">
            <a class="navbar-brand mr-0 pr-4" href="index.html">
                CorrelApp
            </a>
            <a href="javascript:void(0)" id="cls-btn">&times;</a>
            <div class="navbar-collapse nav-sec" id="sidenav">
                <ul class="navbar-nav mr-auto header-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="home">
                            Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="services">
                            Расчет
                        </a>
                    </li>

                </ul>

                <div class="menu-icon d-lg-none">
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                    <span class="ml-auto"></span>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="banner">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h1>Расчет и пронозирование статистических данных</h1>
        <h6>3 показателей качества жизни населения (доходы населения, демография, кредитная нагрузка и т.п.) от
            показателей государственного ресурсного обеспечения (бюджет).</h6>
    </div>
</section>

<section class="index-about-sec">
    <div class="layer">
        <div class="container">
            <h5 data-aos="zoom-in" data-aos-duration="1000">Методы расчета показтелей </h5>
            <p data-aos="zoom-in" data-aos-duration="1000">
                Используется корреляционный анализ. Он необходим для определения зависимости между двумя разными величинами.
                Иными словами, происходит выявление того, в какую сторону (меньшую/большую) меняется величина в зависимости от изменений второй.
                Зависимость устанавливается тогда, когда начинается выявление коэффициента корреляции. Этот метод отличается от анализа регрессии, так как здесь только один показатель, рассчитываемый при помощи корреляции.
                Интервал изменяется от +1 до -1. Если она плюсовая, то повышение первой величины способствует повышению 2-й. Если минусовая, то повышение 1-й величины способствует понижению 2-й. Чем выше коэффициент, тем сильнее одна величина влияет на 2-ю.
            </p>
            <p data-aos="zoom-in" data-aos-duration="1000"> Основные показатели, характеризующие качество жизни населения:</p>
            <ul class="row">
                <li class="mb-3 col-lg-12 " data-aos="fade-up" data-aos-duration="1000">
                    <div class="index-abt-content">
                        <h3>Государственное ресурсное обеспечение – это отношение количества запасов определенного природного ресурса к показателям объема его добычи.</h3>
                    </div>
                </li>
                <li class="mb-3  col-lg-12 " data-aos="fade-up" data-aos-duration="1200">
                    <div class="index-abt-content">
                        <h3>Качество экологической среды (состояние воздушного и водного бассейнов, почв, природных экосистем, биологическое разнообразие)</h3>
                    </div>
                </li>
                <li class="mb-3 col-lg-12" data-aos="fade-up" data-aos-duration="1400">
                    <div class="index-abt-content">
                        <h3>Качество социальной среды (условия труда, физическая и имущественная безопасности, социальное и политическое здоровье общества и т.п.)</h3>

                    </div>
                </li>
                <li class="mb-3 col-lg-12" data-aos="fade-up" data-aos-duration="1600">
                    <div class="index-abt-content">
                        <h3>Благосостояние населения (доходы и расходы население, его обеспеченность жильем, собственностью и услугами различных инфраструктурных отраслей) </h3>
                    </div>
                </li>
                <li class="mb-3  col-lg-12" data-aos="fade-up" data-aos-duration="1600">
                    <div class="index-abt-content">
                        <h3>Качество населения (демографические процессы, уровень образованности и профессиональной квалификации) </h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>




<footer  >
    <div class="layer">
        <div class="container">
            <nav class="navbar navbar-expand  p-0">
                <a class="navbar-brand mr-0 pr-2 pr-sm-4" href="index.html">
                    CorrelApp
                </a>

            </nav>

        </div>
    </div>
</footer>

<button class="scrolltop-btn">
    <i class="fa fa-angle-up"></i>
</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="js/script.js"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>

</html>